In [1]:
import numpy as np
import pandas as pd
import scipy
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('./homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [4]:
df.shape

(8188, 4)

In [9]:
len(df.id.unique())

6328

In [10]:
df[df['group']=='experiment'].shape

(3924, 4)

In [20]:
df[df['group']=='control'].shape

(4264, 4)

## About how long was this experiment run for?

In [59]:
from dateutil.parser import parse
date = parse('2016-09-24')

print(date.year)
print(date.month)
print(date.day)

2016
9
24

In [34]:
dates = df.timestamp.apply(parse)

In [56]:
print(max(dates))
print(min(dates))

2017-01-18 10:24:08.629327
2016-09-24 17:42:27.839496

In [58]:
latest, oldest = max(dates), min(dates)

interval = latest - oldest

print(interval)

115 days 16:41:40.789831

## What action types are recorded in this dataset?

In [64]:
df.groupby('action').mean()

                   id
action
click   567004.084409
view    564022.432838