## Motivation

**For this project, I will be working  on the results of an A/B test run by an e-commerce website. My goal is to work through this notebook to help the company understand if they should implement the new page, keep the old page, or perhaps run the experiment longer to make their decision.**

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
#We are setting the seed to assure you get the same answers 
random.seed(42)

In [24]:
df = pd.read_csv('ab_data.csv')
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [25]:
df.shape[0]

294478

In [26]:
# The number of unique users in the dataset.
df['user_id'].unique().shape

(290584,)

In [27]:
#The proportion of users converted
df['converted'].mean()

0.11965919355605512

In [28]:
# The number of times the new_page and treatment don't line up

df.query('(group=="control" and landing_page=="new_page") or (group=="treatment" and landing_page=="old_page") ').shape[0]

3893

In [29]:
#Do any of the rows have missing values?

df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
user_id         294478 non-null int64
timestamp       294478 non-null object
group           294478 non-null object
landing_page    294478 non-null object
converted       294478 non-null int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

### For the rows where treatment is not aligned with new_page or control is not aligned with old_page, we cannot be sure if this row truly received the new or old page.

In [30]:
df2 = df.query("(group == 'control' and landing_page == 'old_page') or (group == 'treatment' and landing_page == 'new_page')")

In [33]:
# How many unique user_ids are in df2?
df2.user_id.unique().shape

(290584,)

In [41]:
# There is one user_id repeated in df2. What is it?

df2[df2.duplicated('user_id', keep=False)]

      user_id                   timestamp      group landing_page  converted
1899   773192  2017-01-09 05:37:58.781806  treatment     new_page          0
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

In [42]:
# What is the probability of an individual converting regardless of the page they receive?

df2['converted'].mean()

0.11959667567149027

In [ ]:
# Given that an individual was in the control group, what is the probability they converted?

In [43]:
df2.query('group=="control"').converted.mean()

0.1203863045004612

In [44]:
# Given that an individual was in the treatment group, what is the probability they converted?
df2.query('group=="treatment"').converted.mean()

0.11880724790277405

In [45]:
# What is the probability that an individual received the new page?
(df2.landing_page=='new_page').mean()

0.5000636646764286