In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

**Here I am trying to show how categorizing can leads to complete different statistical conclusion**

In [32]:
df = pd.read_csv('./admission_data.csv')
df.head()

   student_id  gender      major  admitted
0       35377  female  Chemistry     False
1       56105    male    Physics      True
2       31441  female  Chemistry     False
3       51765    male    Physics      True
4       53714  female    Physics      True

In [33]:
df.groupby('gender',as_index=False)['admitted'].mean()

   gender  admitted
0  female  0.287938
1    male  0.485597

**We can see there is a bias in accepting males over females!**

In [34]:
df.groupby('gender',as_index=False)['admitted'].sum()

   gender  admitted
0  female      74.0
1    male     118.0

In [35]:
df.groupby(['major','gender'], as_index=False)['admitted'].mean()

       major  gender  admitted
0  Chemistry  female  0.225664
1  Chemistry    male  0.111111
2    Physics  female  0.741935
3    Physics    male  0.515556

**surprosingly we see that here by a different type of classifications, fmailes are prefered!!**

In [36]:
df.groupby(['major','gender'], as_index=False)['admitted'].sum()

       major  gender  admitted
0  Chemistry  female      51.0
1  Chemistry    male       2.0
2    Physics  female      23.0
3    Physics    male     116.0

In [37]:
df.groupby('major', as_index=False)['admitted'].mean()

       major  admitted
0  Chemistry  0.217213
1    Physics  0.542969