In [15]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import os

In [9]:
with open('./rt_html/treasure_of_the_sierra_madre.html') as file:
    soup=BeautifulSoup(file)

In [11]:
soup.title

**Creates an empty list, df_list, to which dictionaries will be appended. This list of dictionaries will eventually be converted to a pandas DataFrame**

**Loops through each movie's Rotten Tomatoes HTML file in the rt_html folder.**

**Opens each HTML file and passes it into a file handle called file.**

**Creates a DataFrame called df by converting df_list using the pd.DataFrame constructor**

In [86]:
directory = './rt_html/'
df_list = []
for Htm_movie in os.listdir(directory):
    with open(os.path.join(directory,Htm_movie)) as file:
        soup=BeautifulSoup(file)
        #print(soup.title)
        #break
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_="audience-score meter").find('span').contents[0][:-1]
        num_audi_rating = soup.find('div', class_="audience-info hidden-xs superPageFontColor")
        num_audi_rating = num_audi_rating.find_all('div')[1].contents[2].strip().replace(',','')
        df_list.append({'title':title, 'audiance_score':audience_score, 'num_audiance_rating':num_audi_rating})

In [87]:
df = pd.DataFrame(df_list)
df.head()

                                     title audiance_score num_audiance_rating
0                          Zootopia (2016)             92               98633
1  The Treasure of the Sierra Madre (1948)             93               25627
2    All Quiet on the Western Front (1930)             89               17768
3                       Rear Window (1954)             95              149458
4                             Selma (2015)             86               60533

In [36]:
soup.find('title').contents[0][:-len('- Rotten Tomatoes')]

'The 400 Blows (Les Quatre cents coups)\xa0(1959) '